
body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}
.header{
    height:50px;
    width:100%;
    padding: 0;
    margin: 0;
    background-color: #3a5795;
    border-bottom: 1px solid #133783;
}
.frndColumn{
    width: 20%;
    height: 580px;
    position: fixed;
}
.searchDiv{
    bottom: 0;
    display: block;
    border-top:1px solid #6d6e64;
    background: lavender;
    border-bottom: 1px solid #6d6e64 ;
}
.searchbox{
    padding: 0 5px 0 5px;
    width: 85%;
    height:27px;
    background: lavender;
    border:none;
    display: inline;
}
.searchGear{
    margin:2%;
    margin-top: 3%;
    width: 15%;
    display: inline;
    color:#6d6e64 ;
}
.frndListDiv{
    max-height:580px ;
    width: 100%;
    display: block;
}
.frndListUl{
    width: 100%;
    margin: 0;
    padding: 2% 0 0 2%;
}
.frndListImg{
    height:32px;
    width: 32px;
    display: inline;
}
.frndListi{
    float: right;
}
.middleDiv{
    width: 80%;
    display: inline-flex;
    position: fixed;
    right: 0;
}
.middleHeaderDiv{
    height: 50px;
    border: none;
    width: 700px;
    box-shadow: 1px 4px 7px #888888;
}
.middleHeaderDivName{
    margin:5%;
    margin-right: 10%;
    width: 550px;
    display: inline;
}
.mHeaderLi{
    display: inline;
    margin: 5%;
    width: 150px;
    margin-left: 30%;
}
.mHeaderi{
    margin:2.5% 1%;
}
.msgDiv{
    display: block;
    padding:0 0 1% 0;
    height: 450px;
    border: 1px solid #888888 ;
    border-top:none;
    border-left: none;
    width: 700px;
    position: fixed;
    margin-top: 4.3%;
    margin-left: 20% ;
}
.msgDiv1{
    padding:1% 1%;
}
.msgDiv2{
    height: 450px;
    width: 700px;
    padding: 0;
    margin: 0;
}
.msgDivLi{
    display: inline-flex;
}
.msgBoxImg{
    height:42px;
    width: 42px;
    display: inline;
    margin: 1%;
}
.msgBoxLiDiv{
    display: inline;
    width: 600px;
}
.msgUserName{
    margin: 1% 2% 0 2%;
    top:0;
    height: 25px;
    display: inline;
}
.msgtime{
    display: inline;
    padding: 0;
    margin: 0;
    float: right;
    color:#6d6e64;
    opacity: 0.4 ;
}
.msgtimei{
    float: right;
    display: inline;
    margin:0 1%;
    opacity: 0.4;
}
.msgP{
    width: 525px;
    font-size: 13px;
    line-height:17.94px;
    font-family: helvetica, arial, sans-serif;
    padding-left: 2%;
    margin-top: 0;
}
.msgTextarea{
    width: 585px;
    resize: none;
    height: 37px;
    padding: 1%;
    background: lavender;
}
.sendButton{
    background: #133783;
    width: 100px;
    height: 53px;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}
.lastDetailColumnImg{
    height:280px;
    width:320px;
    margin:0;
    padding: 1%;
    padding-top: 0;
}
.detailLi{
    list-style-type: none;
    height: 40px;
}
.detailLiLabel{
    display: inline;
    color: black;
    font-size: larger;
    padding-left: 1%;
}
.detailLiH3{
    margin: 0;
    padding: 1%;
    padding-left: 2%;
    display: inline;
}
p{
    font-family: "Basis Grotesque Pro", Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    font-size: 0.875rem;
    color: black;
}
textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
input:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

ul li span {
    font-family: "Basis Grotesque Pro", Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    font-size: 0.875rem;
    color: #6d6e64;
}

.scrl::-webkit-scrollbar {
    width: 8px;
}

.scrl::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scrl::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.scrl::-webkit-scrollbar-thumb:hover {
    background-color: #255876;
}

.scrl {
    overflow-y: auto;
    overflow-x: hidden;
    left: 0%;
}

ul li {
    display: block;
    height: 45px;
    line-height: 40px;
    margin-left: 2%;
    margin-right: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

ul li:hover {
    background: #f1efe7;
}

ul li span {
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    cursor: pointer;

}

ul li i {
    display: inline-block;
    vertical-align: middle;
    margin: 3% 3% 3% 3%;
    display: block;
    cursor: pointer;
    color: #6d6e64;
    cursor: pointer;

}
i:hover {
    cursor: pointer;
}

ul li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    margin-left: 1%;
    margin-bottom: 14%;
    cursor: pointer;
}
h1,h2,h5,span,li {
    color:#3b5998;
}
